.containerContact{
    margin: 5em auto;
}


.SectionB{
    display: flex;
    gap:3em;
}

.sectionTitle{
    font-size:27px;
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 0.5em;
}

.icon-mail{
    color:var(--color-text-subtitle);
    font-size: 28px;
}

.paragraphe{
    margin-bottom: 2em;
    font-size: 12px;
    color:var(--color-text-subtitle);
    line-height:1.6rem;
}


label{
    font-size:13px;
    color:var(--color-text-subtitle);
}

#email,#message{
    all: unset;
    background-color: rgba(63,63, 70, 0.15) ;
    border: 1px solid blue;
    width:15rem;
    padding:0.5rem 1rem;
    margin-left: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 5px;
    transition:0.3s;
    font-size: 0.8rem;
    opacity:0.7;
    text-decoration: capitalize;

}

.AdresseSection{
    display: flex;
    margin-top: 24px;
}

.EmailsSection{
    display: flex;
}


#email:focus ,#message:focus{
    border: 1px solid rgb(45, 212, 191, 0.5);
    border-radius: 5px;
}


#email:focus ,#message:hover{
    border: 1px solid rgb(45, 212, 191, 0.5);
    border-radius: 5px;
}

#message {
    min-height: 9rem;
    resize: both !important;
}

.submit{
    background-color: rgba(36, 37, 46 ,1);
    padding: 0.7rem 2rem;
    text-align: center;
    font-size: 0.9rem;
    text-decoration: capitalize;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 25px;
    padding-top:5px;
    border: 1px  solid rgba(63 63 70);
    margin-left: 7.8rem;
    width: 13rem;
}

.submit:hover{
    scale:0.97;
}

@media (max-width:700px) {
        
    .form{
        width:80%;
        padding-left:4px;    
    }

    .AdresseSection,.EmailsSection{
        display: block !important;
    }
    #email,#message{
        margin-left: 0;
    }
    .submit{
        margin-left: 0;
    }

    .SectionB{
        display:block;
        width:60%;
        margin-left:0.5em;
    }
}