.container{
    display: flex;
    gap:16px;
    justify-content: space-between;
    padding:1.5em;
    margin-top: 5em;
    margin-bottom: -1.5em;

}

.AnimIcon{
    display: flex;
    height: 18rem;
    align-items: flex-end;
    width:30rem;
}

.LeftParty{
    display: block;
    margin-left: 4em;
}

.ImgParty{
    display:flex;
}

.Avatar{
    width: 10em;
    background: transparent;
    border: 2px solid rgb(133, 97, 30) ;
    border-radius: 50%;
    padding: 4px;
    box-shadow: 0.5px 0.5px 10px rgba(133, 97, 30, 0.8);
}

.icon-verified{
    color: #3c97c8;
    margin-top:5em;
    margin-left:1px;
}

.icons{
    margin-top: 25px;
    display: flex;
    gap:25px;
    color:var(--color-text-subtitle);
    font-size: 23px !important;
}

.icon-twitter:hover,
.icon-linkedin1:hover,
.githubHerro:hover{
    font-size: 28px;
    color: white;
    cursor: pointer;
}
  

@keyframes typeIn {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.title {
    margin-top: 25px;
    overflow: hidden;
    white-space: nowrap;
    animation: typeIn 5s steps(20, end) 1;
}
  
  

.sub-title{
    margin-top: 5px;
    color:var(--color-text-subtitle);
    font-size: 14px;
}

.RightParty{
    display: flex;
}

@media(max-width: 800px) {
    
    .container{
        display:block;
    }
    
}