header {
    display: flex;
    justify-content:space-between;
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: 6.5rem;
}

header ul.flex{
    gap:1em;
}

header nav.navbar {
    background-color: var(--color-background-navbar);
    padding: 1.2rem 2rem;
    border-radius: 2em;
    box-shadow:1px 1px 20px rgb(143,150,152,0.7) ;/*3eme valeur pour light autour du box*/
    height: 4.2em;
    font-size: 15px;

}

header ul li Link{
    color:var(--color-text-header);
    opacity:0.5;
}

header ul li:hover{
    color: rgba(75, 225, 248, 0.986);
    border-bottom: 1px;
    border-radius: 10px;
    text-shadow: 0px 0px 3px rgba(6, 216, 249, 0.6);
    transition: 0.5s linear;
  }
  
header ul li.active,
header ul li:active {
  /* Vos styles pour l'effet :active, par exemple : */
  color: var(--color-hover);
  border-bottom: 1px;
  border-radius: 10px;
  text-shadow: 0px 0px 5em rgba(224, 109, 21, 0.879);
  transition: 0.5s linear;
}



header button{
    font-size:16px;
    margin-right:2em ;
    font-size:19px;
    color:var(--color-text-subtitle);
}

.Mood,.MenuDiv{
    width:60px;
    height:60px;
    border-radius:30px;
    background-color: var(--color-background-Mood);
    border:2px solid var(--color-border-Mood);
}
.Mood{
    display:flex;
}
.Langue{
    height:30px;
    width:50px;
    margin-top:1em;
    background-color: var(--color-background-main);
    color:var(--color-text-body);
    border:2px solid var(--color-background-main);
}



.MenuDiv:hover ,.Mood:hover{
    border:2px solid rgba(244, 240, 238, 0.3);
}


.icon-moon-stars{
    color:var(--color-hover);
    font-size: 44px;
    position : relative;
    top: 2px;
    left:6px;
}

.icon-menu{
    font-size: 24px;
    position : relative;
    top:16px;
    left:15px;
}

header button.Menu{
    display:none;
}

.closeBtn{
    font-size: 1rem;
    color:var(--color-text-subtitle);
    transition: 0.3s;
}

.closeBtn:hover{
    rotate:180deg;
}


/*notre modal*/
header div.fixed{
    position:fixed ;
    inset:0;/*c-a-dire top: 0;bottom: 0;right: 0;left: 0;*/
    background-color:rgb(0,0,0,0.5);
    backdrop-filter: blur(1.5px); 
    z-index: 100;
    }

.modal {
    background-color:var(--color-background-main);
    width: 88%;
    margin: 2em auto auto;
    border: 0.01px solid rgba(245, 245, 245, 0.129);
    border-radius: 2em;
    position: relative;  
    animation: MoveModal 1s 1;
    padding-bottom: 1em;
    font-size:13px;
}

@keyframes MoveModal {
    0%   { scale:0;}
    60%   { scale:1.2}
    100%  { scale: 1;}
}


.UlModal{
    display:block !important;
    padding: 2em 0 0 3em;
    
}

.dividerModal{
    border-bottom: 1px solid var(--color-divider);
    margin : 1em 0;
  }

li.child{
    margin-bottom: 1.5em ;
}

p.navigationTitle{
    margin: 3em 0 0 2em;
    margin-top: 1em;
    font-size: 14px;
    color:var(--color-text-subtitle);
    text-transform: uppercase;
}  

.closeBtn{
    float: right !important;
    margin-top:-1.2em;
}

.ImgParty{
    display:flex;
    margin-top:-4px;
}

.icon-sun{
    color: yellow;
    font-size: 45px;
    left:4px;
    top:4px;
    position: relative;
}

.Avatar{
    width: 3.8em;
    background: transparent;
    border: 2px solid rgb(133, 97, 30) ;
    border-radius: 50%;
    padding: 4px;
    box-shadow: 0.5px 0.5px 10px rgba(133, 97, 30, 0.8);
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));
   /* left: 100em;  Définissez la position initiale de l'avatar */
   /* animation: animTitre 1s linear forwards;  Utilisez 'forwards' pour conserver la dernière étape de l'animation */
}

@keyframes animTitre {
    0% {
        left: 100em; 
    }
    100% {
        left: 0; 
    }
}

@media (max-width:870px) {
    header nav.navbar{
        display:none;
    }

    header button.Menu{
        display:block;
    }  
    
}

@media (min-width:870px) {
   
    header div.fixed{
        display:none;
    }
    .modal{
        display:none;
    }
    .MenuDiv{
        display: none;
    }
}

/*pour avoir un taille perfect pour le navbar */
@media (max-width:1170px) {
      
    header nav.navbar {
        background-color: var(--color-background-navbar);
        padding: 1rem 1.5rem;
        border-radius: 2em;
        box-shadow:1px 1px 20px rgb(143,150,152,0.7) ;/*3eme valeur pour light autour du box*/
        height: 4.2em;
        font-size: 13.5px;
    }

}

/*pour avoir un taille perfect pour le navbar */
@media (max-width:1000px) {
      
    header nav.navbar {
        background-color: var(--color-background-navbar);
        padding: 1rem 1.5rem;
        border-radius: 2em;
        box-shadow:1px 1px 20px rgb(143,150,152,0.7) ;/*3eme valeur pour light autour du box*/
        height: 4.2em;
        font-size: 13.5px;
    }

}
